# Variables in this file cannot have quotes around them, 
#   becasue Docker treats the quotes as part of the variables's value.
# Comments preceded with # sign, and empty lines are allowed.

MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=db_openemr
MYSQL_USER=user_openemr
MYSQL_PASS=pass_openemr
MYSQL_ROOT_PASS=mysql_root_password
OE_USER=admin
OE_PASS=secretpassword

